.width-100-group{
  display: flex;
  text-align: left;
  justify-content: center;
  margin: 15px 0px 30px;
}
.width-100-group>.width-100{
  margin: 0px 15px;
}
.modal-button{
  margin: 10px 20px;
}




@media(max-width: 880px){
  .width-100-group{
    display: block;
    text-align: center;
  }
  .modal-menu{
    position: relative;
    overflow:auto;
    height: 200px;
  }

}