
.card > div > div > a > img{
  width: 100px;
}

.card >.flex-icons{
  display: flex;
  justify-content: space-between;
}

.text-left{
  text-align: left;
}

.card >div> div{
  text-align: center;
}

.float-right{
  float: right;
}

#prescrever,#historico{
  display: inline-block;
}
#prescrever>img{
  display: block;
}

@media(max-width: 680px){
  .card-container-paciente{
    width: 90%;
    padding: 5%;
  }
  .card-container-paciente > div > div > a > img{
    width: 60px;
  }
}