.card-container-paciente{
  width: 600px;
}

.card-container-paciente > div > div > a > img{
  width: 100px;
}

.card-container-paciente >.flex-icons{
  display: flex;
  justify-content: space-between;
}

.card-container-paciente >div> div{
  text-align: center;
  margin: 0px 5%;
}

.card-container-paciente>h2{
  text-align: center;
  padding: 20px;
}

.card-container-paciente>hr{
  margin-bottom: 20px;
  padding:0px;
}

.float-right{
  float: right;
}

#prescrever,#historico{
  display: inline-block;
}
#prescrever>img{
  display: block;
}

@media(max-width: 680px){
  .card-container-paciente{
    width: 90%;
    padding: 5%;
  }
  .card-container-paciente > div > div > a > img{
    width: 60px;
  }
}