.card-container-prescricao{
  width: 600px;
}


.prescricao-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.on-remove{
  margin-bottom: 10px;
}

.prescricao-icons>div>a>img{
  width: 75px;
}

.prescricao-icons>div>figcaption{
  text-align: center;
}


.generated-by-array>.two-column,
.card-container-prescricao>.two-column{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.two-column>.card-input>input{
  width: 250px;
}

.two-column>.card-input>select{
  width: 266px;
}
.card-container-prescricao > h2{
  text-align: center;
  padding: 20px;
}

.card-container-prescricao > hr{
  margin-bottom: 20px;
  padding:0px;
}